# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Publish

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
on:
  push:
    branches:
      - "main"

jobs:
  publish:
    # Can switch to ubuntu-latest but self-hosted is safer and faster
    name: Publish
    runs-on: self-hosted
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: publish module
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: just publish

