# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Publish

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
on:
  push:
    branches:
      - "main"

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    # Can switch to ubuntu-latest but self-hosted is safer and faster
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - uses: extractions/setup-just@v3
        with:
          just-version: '1.42.4'

      - name: publish module
        run: just publish

